# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
# C extensions
*.so
/chromadb-admin
*.ipynb
.idea/
qdrant_mem0_data
venv-linux
# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.eggs/
*/chroma_db
# Virtual environment
/chroma_db
venv/
.venv/
processing_results.json
/data/*

env/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE-specific files
.vscode/        # VS Code
.idea/          # PyCharm
*.sublime-project
*.sublime-workspace
.project        # PyDev
.pydevproject   # PyDev
.DS_Store       # macOS specific

# Database files
*.sqlite3
*.db

# Environment variables
.env